<a href="https://colab.research.google.com/github/gtrived/ScriptingLanguages_Classwork/blob/master/Python_Scripts/oops_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Write a python script to create :

#### a) class House

In [ ]:
class House:
   'Common base class for all houses'
   hCount = 0

   def __init__(self, name, price):
      self.name = name
      self.price = price
      House.hCount += 1
   
   def displayCount(self):
     print ("Total Houses %d" % House.hCount)

   def displayHouse(self):
      print ("Name : ", self.name,  ", Price: ", self.price)

#### b) Object

In [ ]:
"This would create first object of House class"
h1 = House("Flat_2bhk", 2000)
"This would create second object of House class"
h2 = House("Flat_3bhk", 5000)

#### c) Inheritance

In [ ]:
class House_Detail(House): # define child class
   def __init__(self,name,price,location,area):
      self.location = location
      self.area = area  
      # invoking the __init__ of the parent class  
      House.__init__(self, name, price)   
    


   def displayHouse(self):
      print ("Name : ", self.name,  ", Price: ", self.price)
      print ("House location : ", self.location,  ", Area: ", self.area, "sq ft")

In [ ]:
"This would create first object of House_Detail class"
h1_d = House_Detail("2bhk flat",8000,"Delhi", 2000)
"This would create second object of House_Detail class"
h2_d = House_Detail("2 bhk flat ", 5000,"Pune", 5000)

#### d) Encapsulation

A class is an example of encapsulation as it encapsulates all the data that is member functions, variables, etc.

#### e) Polymorphism

The word polymorphism means having many forms. In programming, polymorphism means same function name (but different signatures) being uses for different types.

In [ ]:
h1.displayHouse()
h2.displayHouse()

Name :  Flat_2bhk , Price:  2000
Name :  Flat_3bhk , Price:  5000

In [ ]:
h1_d.displayHouse()
h2_d.displayHouse()

Name :  2bhk flat , Price:  8000
House location :  Delhi , Area:  2000 sq ft
Name :  2 bhk flat  , Price:  5000
House location :  Pune , Area:  5000 sq ft